.flatbutton {
    background: none;
    border: none;
    min-height: 60px;
    min-width: 100px;
}

.flatbutton button {
    border-radius: 0;
    border: none;
}

.flatbutton-active {
    border: none;
    background-color: mix($dark-color, $highlight-color, 20%);
    transition: background-color 300ms ease-in-out;
}

.flatbutton-active button:hover {
    background-color: rgba($dark-color, 0.5);
}