@import "Colors";

.quick_settings_window {
    all: unset;
    // background-color: #f0f;
}

.quick_settings_grid_box {
    background-color: transparentize(#282C34, 0.2);
    padding: 10px;
}


.quick_settings_button {
    background: none !important;
    border: none;
    min-height: 60px;
    min-width: 100px;

    & button {
        border: none;
    }

    &-active {
        border: none;
        background-color: $accent_color;
        transition: background-color ease-in-out 300ms;

        & button {
            &:hover {
                background-color: $dark_4;
            }
        }
    }
}

.separator-label {
    font-weight: 600;
    opacity: 0.7;
}
