@import "Colors";

.runner_window {
    all: unset;
}

.runner_master_box {
    background-color: transparentize(#282C34, 0.2);
    border-radius: $master-border-radius;
    border: none;
    padding: 10px;
    min-width: 555px;
}

.boxed-list {
    background-color: transparent;
    padding: 10px;
}

.runner_button {
    padding: 10px;
    background-color: #212229;
    margin: 5px 0;
    border-radius: $accent-color;
    border: 1px $accent-color solid;
}