@import "Colors";

.runner_window {
    all: unset;
}

.runner_master_box {
    background-color: rgba($back-color, 0.8);
    border-radius: $master-border-radius;
    border: none;
    padding: 10px;
    min-width: 555px;
}

.boxed-list {
    background-color: transparent;
    padding: 7px;
}

.runner_button {
    padding: 10px;
    background-color: mix($back-color, $accent_color, 90%);
    color: $light-color;
    margin: 5px 0;
    border-radius: 8px;
}

.search-entry {
    background-color: rgba($light-color, 0.1);
    border-radius: 5px;
    padding: 5px 10px;
    color: $light-color;
    font-size: 16px;
    transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;

    &:focus-within {
        background-color: rgba($light-color, 0.2);
        box-shadow: 0 0 5px rgba($accent_color, 0.5);
    }
}