@import "Colors";

.StatusBar_Master {
    background-color: transparentize(#282C34, 1);
    color: white;
    min-height: 25px;
    border-radius: $master-border-radius;
    padding: 0 5px;
}

.statusbar_box {
    margin: 5px 0;
    background-color: transparent;
    border: 1px solid $master-border-color;
    border-radius: $master-border-radius;
    padding: 0 10px;
}

.client_label {
    border: none;
}

.workspaces {
    border: none;
}

.workspaces button {
    border: none;    
    font-size: 16px;
    transition: all .2s ease-in-out; // ptite transition des familles
    position: relative;  
}

.workspaces button:hover {
    border-radius: 2em;
    background: none;       /* on retire ce background de merde */
    transform: scale(1.2);    /* BAM ça réduit de 5% quand tu passes dessus */
}

.focused {
    color: $master-border-color;
}

.occupied {
    color: $dark_4;
}

.empty {
    color: $dark_3;
}

.low {
    color: rgba($color: rgb(255, 0, 81), $alpha: 1.0);
}

.StatusBar_label {
    font-size: 16px;
}
